body {
    background-color: #04A1BF;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.first-paragraph {
    color: #FFCD5D;
    text-align: center;
    font-weight: 600;
}
.second-paragraph {
    color: #51DF70;
    text-align: center;
    font-weight: 600;
}

.third-paragraph {
    color: #025F70;
    text-align: center;
    font-weight: 600;
}

.input-text {
    display: block;
    min-width: 27%;
    border-radius: 5px;
    padding: 5px;
}

.flex-container {
    justify-content: center;
    display: flex;
    gap: 5px;
}

.submit-button{
    background-color: orange;
    padding: 5px;
}

li {
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    background: #4EB9CD;
}
