body {
    background-color: #04A1BF;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.first-paragraph {
    color: #FFCD5D;
    text-align: center;
    font-weight: 600;
}
.second-paragraph {
    color: #51DF70;
    text-align: center;
    font-weight: 600;
}

.third-paragraph {
    color: #025F70;
    text-align: center;
    font-weight: 600;
}

.input-text {
    margin: auto;
    display: block;
    min-width: 65%;
    border-radius: 5px;
    padding:5px;
}
